@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --background: #DDE6ED;
    --accent: #526D82; */
    --background: #E1F0DA;
    --accent: #4F6F52;
}

.next-error-h1 {
    border-right: 1px solid var(--accent) !important;
}